body{
background-color:#656D3F;
margin-left: 650px;
}
@media(max-width:420px){
  .main{
    align-content: center;
    width:fit-content;
    margin-left: 70px;
  }
}
#sign{
    color: #492828;
    font-family: Arial, Helvetica, sans-serif;
}
div{
  display: flex;  
}
input{
    height:30px;
    margin-top: 15px;
    background-color:#492828;
    color:burlywood;
}
select{
  height:30px;
  margin-top: 15px;
  background-color:#492828;
  color: burlywood;
}
textarea{
  height:50px;
  margin-top: 10px;
  background-color:#492828;
  color: burlywood;
}
::placeholder{
    color: burlywood;
}